// === COMMON ===
// body {
//   height: 100vh;
// }

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

* {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
	scrollbar-color: $primary #fff; /*Цвет скролла, цвет ползунка*/
	scrollbar-width: thin; /*Толщина скролла thin, auto*/

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $primary !important;
    border: .5px solid $dark !important;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }
}
